server/logs/
server/npm-debug.log
server/yarn-error.log
server/node_modules/
server/package-lock.json
server/yarn.lock
server/coverage/
server/dist/
server/.idea/
server/run/
server/.DS_Store
server/*.sw*
server/*.un~
server/.tsbuildinfo
server/.tsbuildinfo.*
server/src/mysql/config.*

# dependencies
client/node_modules
client/npm-debug.log*
client/yarn-error.log
client/yarn.lock
client/package-lock.json
client/.history
.history
# production
client/dist
client/deploy_config.json

# misc
.DS_Store

