.bookmark-box {
  position: relative;
  height: 100%;
  padding: 0 15px;
}
.bookmark-box .mantine-Card-root,
.bookmark-box .mantine-Tabs-root,
.bookmark-box .mantine-Tabs-panel {
  height: 100%;
}
.bookmark-box .mantine-Tabs-panel {
  overflow: auto;
}
.bookmark-box .mantine-Tabs-tab {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bookmark-box .bookmark-wrapper {
  height: 100%;
  padding: 0 15px;
  overflow: auto;
}
.bookmark-box .bookmark-wrapper .bookmark-item {
  position: relative;
  width: 290px;
  height: 110px;
  margin-top: 15px;
  cursor: pointer;
}
.bookmark-box .bookmark-wrapper .bookmark-item .mark-button {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
}
.bookmark-box .bookmark-wrapper .bookmark-item .top {
  display: flex;
  align-items: center;
  height: 45px;
}
.bookmark-box .bookmark-wrapper .bookmark-item .top .name {
  margin-left: 15px;
}
.bookmark-box .bookmark-wrapper .bookmark-item .desc {
  display: -webkit-box;
  height: 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  font-size: 14px;
  color: grey;
}
.bookmark-box .action-button {
  position: absolute;
  left: 20px;
  bottom: 0px;
}
