.ResumeEditor {
  height: 100%;

  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .mantine-Paper-root{
        flex: 1;
        overflow-y: auto;
    }

    .saveButton {
      width: 100px;
      height: 36px;
      margin-top: 20px;
    }
  }
}
