.terminal-view {
  position: relative;
  width: 100%;
  height: 100%;
  padding-bottom: 300px;
  overflow-y: auto;
}
.terminal-view .mantine-Autocomplete-root {
  flex: 1;
}
.terminal-view .mantine-Autocomplete-input {
  padding-left: 0;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  caret-color: #fff;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Courier New", Courier, monospace;
}
.terminal-view .mantine-Autocomplete-dropdown {
  width: 500px!important;
  left: 65px!important;
  background-color: transparent;
  border: none;
}
.terminal-view .mantine-Autocomplete-item {
  background-color: transparent;
  display: flex;
}
.terminal-view .mantine-Autocomplete-item .tip-name {
  min-width: 100px;
  color: #d1d1d1;
}
.terminal-view .mantine-Autocomplete-item .tip-desc {
  color: #8f8c8c;
}
.terminal-view .mantine-Autocomplete-item[data-hovered="true"] .tip-name {
  min-width: 100px;
  color: green;
}
.terminal-view .mantine-Autocomplete-item[data-hovered="true"] .tip-desc {
  color: #074907;
}
.terminal-view .mode-text {
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 14px;
  color: #9c4747;
}
